<h1>PLEase. Please log in..</h1>

<form action="<%= sessions_url %>" method="POST">
  <%= auth_token %>
  <label for="username"> Username </label>
  <input id="username" type="text" name="user[username]">
  <label for="password"> Password </label>
  <input id="password" type="password" name="user[password]">
  <input id="Submit" type="submit">
</form>
